In [1]:
import numpy as np
import pandas as pd
li=[110,105,115,110,130,150,100,105]

In [2]:
df = pd.DataFrame(li, columns=['price'])
df

   price
0    110
1    105
2    115
3    110
4    130
5    150
6    100
7    105

# Normalization / min max scaler

In [3]:
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler() 
df['price_after_normalization'] = mmx.fit_transform(df[['price']])
df

   price  price_after_normalization
0    110                        0.2
1    105                        0.1
2    115                        0.3
3    110                        0.2
4    130                        0.6
5    150                        1.0
6    100                        0.0
7    105                        0.1

# Standardization / standard scaler

In [4]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
df['price_after_standardization'] = scaler.fit_transform(df[['price']])
df

   price  price_after_normalization  price_after_standardization
0    110                        0.2                    -0.362915
1    105                        0.1                    -0.685506
2    115                        0.3                    -0.040324
3    110                        0.2                    -0.362915
4    130                        0.6                     0.927450
5    150                        1.0                     2.217814
6    100                        0.0                    -1.008097
7    105                        0.1                    -0.685506

# Log Transformation

In [5]:
import numpy as np
df['fc_numpy'] = np.log1p(df[['price']]) 
df

   price  price_after_normalization  price_after_standardization  fc_numpy
0    110                        0.2                    -0.362915  4.709530
1    105                        0.1                    -0.685506  4.663439
2    115                        0.3                    -0.040324  4.753590
3    110                        0.2                    -0.362915  4.709530
4    130                        0.6                     0.927450  4.875197
5    150                        1.0                     2.217814  5.017280
6    100                        0.0                    -1.008097  4.615121
7    105                        0.1                    -0.685506  4.663439

#  Robust Scaler

In [6]:
from sklearn.preprocessing import MaxAbsScaler
mx = MaxAbsScaler()
df['max_abs_scaler'] = mx.fit_transform(df[['price']])
df

,price,price_after_normalization,price_after_standardization,fc_numpy,max_abs_scaler
0,110,0.2,-0.362915,4.709530,0.733333
1,105,0.1,-0.685506,4.663439,0.700000
2,115,0.3,-0.040324,4.753590,0.766667
3,110,0.2,-0.362915,4.709530,0.733333
4,130,0.6,0.927450,4.875197,0.866667
5,150,1.0,2.217814,5.017280,1.000000
6,100,0.0,-1.008097,4.615121,0.666667
7,105,0.1,-0.685506,4.663439,0.700000

In [7]:
data=pd.DataFrame(df)
data.to_excel("Assignment_5.1.xlsx")
data

,price,price_after_normalization,price_after_standardization,fc_numpy,max_abs_scaler
0,110,0.2,-0.362915,4.709530,0.733333
1,105,0.1,-0.685506,4.663439,0.700000
2,115,0.3,-0.040324,4.753590,0.766667
3,110,0.2,-0.362915,4.709530,0.733333
4,130,0.6,0.927450,4.875197,0.866667
5,150,1.0,2.217814,5.017280,1.000000
6,100,0.0,-1.008097,4.615121,0.666667
7,105,0.1,-0.685506,4.663439,0.700000